[mysqld]

# データベースの基本設定
user = mysql
datadir = /var/lib/mysql
port = 3306
bind-address = 0.0.0.0

# ログ設定
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2

# セキュリティ設定
skip_symbolic_links = 1
